// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #016A97;
$secondary : #1DA1C0;
$accent    : #9C27B0;

$dark      : #575756;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


// TODO: replace it with local files
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Set the default font-family
$typography-font-family : 'Lato', sans-serif !default;

// Fix font-weight values to match the imported font family weights
$text-weights: (thin: 100, light: 300, regular: 400, medium: 400, bold: 700, bolder: 900) !default;
$button-font-weight: 400 ;

$light-blue : #1DA1C0 !default;
$blue-2 : #016A97 !default;
$grey-1: #F7F7F7;

.q-header {
  background-image: linear-gradient(to left, #07C9BE, #016A97);
}

.q-router-link--exact-active {
  background-color: $grey-1;

  .q-icon {
    color: #07C9BE !important;
  }
  .q-item__label {
    color: $dark !important;
  }
}

body {
  color: $dark
}
